/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 80%;
	font-family: 'Titillium Web', sans-serif;
	align-content: center;
	margin: auto;
	display: flex;
	flex-direction: column;
	line-height: 1.2;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

h1 {
	font-size: 80px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/*---------HEADER----------*/
header {
	display: flex;
	align-items: center;
	height: 8%;
	width: 64%;
	background-color: lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: fixed;
}


header nav.links {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 70%;
	height: 100%;
	padding-left: 15px;
}

header .logo{
	margin-left: 15%;
	align-self: flex-end;
}

header nav.links a {
	text-decoration: none;
	font-size: 17px;
	color: white;
	transition: transform 0.5s;
}

header nav.links a:hover {
	transform: scale(1.5);
}
/*--------------------------*/

/*----------MASTHEAD-----------*/
.masthead {
	display: flex;
	padding-top: 70px;
	padding-bottom: 60px;
	border-bottom: 2px solid black;
}

.masthead div.innovation {
	width: 60%;
	display: flex;
	flex-direction: column;
	padding-top: 70px;
	text-align: center;
}

.masthead div.innovation a {
	text-decoration: none;
	transition: transform 0.5s;
	background-color: grey;
	width: 29%;
	height: 10%;
	color: white;
	align-self: center;
	border-radius: 8px;
}

.masthead div.innovation a:hover {
	transform: scale(1.5);
}

.masthead img {
	align-self: flex-end;
}
/*-------------------------------*/

/*------------UPPER CONENT--------------*/
section.upperContent {
	display: flex;
	padding-top: 50px;
	padding-bottom: 50px;
}

section.upperContent div.features {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
}

section.upperContent div.about {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
}
/*--------------------------------------*/

/*-------------LOWER CONTENT------------*/
section.bottomContent {
	display: flex;
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 2px solid black;
}

section.bottomContent div.services {
	width: 33%;
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
}

section.bottomContent div.product {
	width: 33%;
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
}

section.bottomContent div.vision {
	width: 33%;
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
}
/*---------------------------------------*/

/*--------------FOOTER------------- */
footer {
	padding-top: 40px;
}

#copyright {
	padding-top: 75px;
	padding-bottom: 175px;
	text-align: center;
}
/*----------------------------------*/

.servicesMasthead {
	padding-top: 70px;
	display: flex;
	flex-direction: column;
}
.services-header-img {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	align-self: auto;
}

.servicesIntro {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid black;
}

.servicesIntro h2 {
	font-size: 30px;
}

.serviceOptions {
	padding-top: 30px;
	display: flex;
	flex-wrap: wrap;
}